$colores: (
    color-primario: $color-principal,
    color-h1:rgb(10, 9, 9),
    color-fondo: aliceblue,
    color-p: rgb(44, 44, 44),
);

$fuentes: (
    tamanio-h1: 50px,
    tamanio-h2: 30px,
    tamanio-p: 15px,
);



